@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
html { 
    scroll-behavior: smooth;

}

body { 
    background:#ebebff;
}

body.dark {
    background:#212529;
    color:#fff;
}

body.dark .content,.container-experience { 
    color:black;
}

body.dark .myself{
    color:#fff;
}
body.dark .container-footer{ 
    border-top:1px solid white;
}

.navbar-brand { 
    font-size:20px;
    font-weight:bold;
   justify-content: center;
   display:flex;
   align-items:center;
}

.avt img { 
    padding-top:150px;
    border:circle;
    width:300px;
}
.about-us { 
    padding-top:150px;
    margin:50px;
    font-size:1.25rem;
    line-height:2rem;
}

.container-about { 
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 0 0 0 0;

}

.mycv { 
    margin:5rem;
    background-color:#fff;
    display:flex;
    max-width: 100%;
    height:450px;
    border-radius: 20px;
}

.content {
    padding:5% 0 10% 10% ;
    line-height: 3rem;
    font-size:1.25rem;
    max-width: 100%;

}

.mycv button { 
    padding:1rem;
    background:#10c872;
    font-size: 1rem;
    color:#fff;
    border:none;
    border-radius: 10px;
}

.container-experience { 
    margin:5rem;
    background-color:#fff;
    display:flex;
    max-width: 100%;
    height:450px;
    border-radius: 20px;
}

.experiences {
    padding:5% 0 10% 10% ;
    line-height: 4rem;
    max-width: 100%;
}

.experiences h1 { 
    padding: 0 0 6.5% 0;
}
.experiences p { 

    font-size:1.25rem;
}

.myself{
    margin:5rem;
    display:flex;
    max-width: 100%;
}

.scroll {
    padding:1rem;
    position:fixed;
    display:flex;
    bottom:10px;
    right:10px;
}

.scroll a { 
    font-size:40px;
    
}





footer { 
    max-width: 100%;
    background-color:#212529;
    color:#fff;
    padding-bottom:0;
    margin-bottom: 0;

}

.container-footer{
    padding: 24px 12px;
    display:flex;
    flex-direction: column;
    max-width: 100%;
    border-top: 1px solid white;
}



.row { 
    display:flex;
    justify-content: center;
}



.list li {
    line-height:2rem;
    padding:0 20% 0 20%;
    align-items: center;
    display:flex;
    text-align:left;
}
.list .heading { 
    margin:0 0 5px 0 ;
}

.list {
    text-align:left;    

    margin:10% 0 10% 0 ;
}

.else p {
    text-align:center;
}

.social-media ul { 
    display:flex;
    align-items:center;
    justify-content:center;
}

.social-media li { 
    padding: 0 10px 0 10px;
    
}

.social-media a { 
    color:#fff;

}

.social-media a:hover{ 
    color:rgb(102, 100, 104);
}


@media screen and (max-width: 768px){
    .container-about { 
        display:flex;
        flex-direction: column;
        
    }
    .about-us { 
        padding: 0 ;
    }
    .content { 
        padding:5% 10% 5% 10% ;
    line-height: 3rem;
    font-size:1.25rem;
    max-width: 100%;
    }
}
@media screen and (max-width :600px ){
    .mycv{
        margin:3rem;
        height:100%;
    }
    .content {
        margin:2rem ;

    }
    .experiences{
        margin:1rem ;

    }
    .container-experience{
    height:100%;
    margin:2rem ;


    }
    .experiences h1 { 
        padding: 0 0 10% 0;

    }
    .content { 
    padding: 0 0 6.5% 0;

    }
}

@media screen and (max-width :320px ){
    .avt img { 
        width:200px;
    }
    .mycv { 
        margin:3rem;
        height:100%;
    }
    .content {
        margin:1rem ;
        line-height:2rem;
    }
    .container-experience { 
        height:100%;
        margin:1rem;
        
    }
    .ex { 
        line-height:2rem;
    }
    
    
}

@media screen and (max-width:577px){
    
    .row { 
        display:flex;
        flex-direction: column;
        justify-content: center;
        max-width:100%;
        
        margin:0; 
    }
    .col { 
        padding:0 25% 0 15% ; 
    }
}